  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .wrapper{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(31, 17, 206, 1) 0%, rgba(229, 43, 43, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
} 
body{
    font-family: 'Borel', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Young Serif', serif;
}

#pic{
    height: 100vh;
    width: 100vw;
    position: relative;
    object-fit: cover;
    overflow: hidden;

}

 .cont{
    height: 400px;
    width: 500px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    
} 

 #heading{
    font-style:normal;
    font-weight: 100;
    margin-top: 9px;
    text-shadow: 1px 1px 1px black;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    opacity: 1;
    box-shadow: 5px 5px 5px whitesmoke;

} 

 #text{
    display: flex;
    width: 520px;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 200px;
    background-color: antiquewhite;
    margin-top: 15px;
    border-radius: 10px;
    
} 




#btn{
    height: 50px;
    width: 120px;
    border-radius: 5px;
    justify-content: center;
    margin: auto;
    position: static;
    overflow:hidden;
    
}  

#btn:hover{
    color: white;
    background: black;
    pointer-events: stroke;
    cursor: pointer;
    scale: 1.2;
    
}

#tepu{
    color: whitesmoke;
    background-color:black;
    width: 150px;
   
    
    border-radius: 5px;
    text-align: center;
    
}

#temp{
    width: 100px;
}